---
import './layout.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Moodboard Generator App</title>
    <script
      is:inline
      src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"
    ></script>
    <script is:inline src="/html2canvas.min.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
